{% extends 'layouts/mtgapp.html' %}


{% block content %}
<div class="container">

  <h2>Regolamenti delle competizioni del Mind the Gap DC</h2>

  <h3>Premier League</h3>
  <p>
    La premier league prevede la partecipazione di 8 giocatori che si sfideranno nell'arco di una stagione in due turni
    round-robin (andata e ritorno).
  </p>

  <p>
    Ogni stagione dura due mesi solari, con la prima che parte il 1/1/2019. Al termine di ogni stagione gli ultimi tre
    giocatori perderanno l'accesso alla premier league e potranno partecipare nella development league. Invece, il
    primo classificato riceverà 50€ mentre il secondo 25€. In caso di parità di punti a fine stagione si considererà la
    differenza leg.
  </p>

  <p>
    La formula di gioco è 501 Flying Start, al meglio dei 6 leg.
  </p>

  <p>
    I punteggi per ogni partita verranno attribuiti nel modo seguente: 2 punti per la vittoria, 1 punto per il
    pareggio, 0 per la sconfitta.
  </p>

  <p>
    Gli incontri in calendario potranno essere giocati in qualsiasi giorno ed ordine nell'arco della stagione in un
    qualsiasi dart club riconosciuto dalla FIGF. Gli incontri non disputati al termine della stagione non potranno
    essere recuperati successivamente.
  </p>

  <p>
    Il costo di partecipazione è di 10€ per un'intera stagione. Parte della quota verrà trattenuta per costi di
    gestione del server dove saranno presenti i calendari e i risultati
  </p>

  <p>
    La direzione si riserva ogni diritto di decisione finale in caso di controversie.
  </p>

  <h3>Development League</h3>
  <p>
    La development league prevede la partecipazione di un numero libero giocatori che si sfideranno nell'arco di una
    stagione in una competizione senza calendario.
  </p>

  <p>
    Ogni stagione dura due mesi solari, con la prima che parte il 1/1/2019. Al termine di ogni stagione i primi tre
    giocatori guadagneranno l'accesso gratuito alla premier league
    più un premio in denaro variabile in base al numero di iscritti. In caso di parità di punti a fine
    stagione si considererà la differenza leg.
    L'iscrizione alla stagione può avvenire in qualsiasi momento della stessa.
  </p>

  <p>
    La formula di gioco è 501 Flying Start, al meglio dei 4 leg.
  </p>

  <p>
    I punteggi per ogni partita verranno attribuiti nel modo seguente: 3 punti per la vittoria, 2 punto per il
    pareggio, 1 per la sconfitta.
  </p>

  <p>
    Gli incontri potranno essere giocati in qualsiasi dart club riconosciuto dalla FIGF. Un giocatore potrà sfidare
    qualsiasi altro giocatore partecipante alla development league non più di una volta a settimana.
  </p>

  <p>
    Il costo di partecipazione è di 5€ per un'intera stagione. Parte della quota verrà trattenuta per costi di gestione
    del server dove saranno presenti i calendari e i risultati
  </p>

  <p>
    La direzione si riserva ogni diritto di decisione finale in caso di controversie.
  </p>

</div>
{% endblock %}
